<p style="font-size:50px;">高岸さん</p>
<ul style="font-size:30px;margin:50px;">
    <li>
        高岸龍之介
    </li>
    <li>
        メールアドレス
    </li>
</ul>
<a href="">
    <div class="box">
        登録情報の編集
    </div>
</a>
<a href="">
    <div class="box">
        <%= user.like.
    </div>
</a>
