/* default.css 開始 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* default.css 終了 */

body{
    background-image:url(https://ja.wikipedia.org/wiki/%E3%82%B9%E3%82%BF%E3%83%B3%E3%83%95%E3%82%A9%E3%83%BC%E3%83%89%E5%A4%A7%E5%AD%A6#/media/File:Stanford_University_campus_from_above.jpg);
}
li{
    list-style: none;
}
ul li{
    padding:0 0 10px 10px;
}
.clearfix:after{
    display: block;
    clear: both;
    content: "";
}
.link{
    text-decoration:none;
    color:black;
}
.link:visited{color: blue;}
footer{
    clear:left;
}
a{
    text-decoration:none;
} 
/* ヘッダーの記述の開始 */
header{
    background-color:blue;
}
.header-left{
    float:left;
}
.header-right li{
    float:right;
}

.other_header:hover{background-color: Cyan;}
/* ヘッダーの記述の終了 */

/* ボディーの記述の開始 */

/* トップページの開始 */
.center{
    margin:0 auto;
}
.search{
    margin:0 100px;
}
.float{
    float:left;
    margin:30px;
}

/* トップページの終了 */

/* plansの開始 */
.plan_box{
    padding: 10px;
    border: 1px #ccc solid;
    box-shadow: 3px #ddd;
    height:130px;
    width:80%;
    margin:30px;
}
.detail{
 margin:50px 0;
 text-align:center;
 font-size:30px;
}
.favorite_box{
    margin:0 20%;
}
.favorite{
    font-size:30px;
    margin:50px;
    width:250px;
    padding: 10px;
    border: 3px skyblue solid;
    box-shadow: 3px #ddd;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
/* plansの終了 */

/* usersの開始 */
.box{
    color:black;
    text-align:center;
    font-size:30px;
    margin:30px 0 0 25%;
    width:250px;
    padding: 10px;
    border: 3px blue solid;
    box-shadow: 3px #ddd;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.kanryou{
  font-size:30px;
    margin:30px 0 0 25%;  
}

/* users#showの終了 */

h1{
    margin:0 0 30px 0;
    font-size:30px;
    font-family:Comic Sans MS;
}
input,textarea{
    margin:10px;
    font-size:20px;
}




.aaa{
    width:80%;
    float:right;
}
.contents{
    margin:30px 0;
    margin-left: 10%;
}

.bbb{
    width:220px;
    float:left;
    height:100vw;
    background-color: #CCCCCC;
}

.nav{
    width:150px;
    padding: 10px;
    margin:30px auto;
    height:100%;
}

.name{
    font-family:Comic Sans MS;
    padding: 20px;
    font-size:20px;
}



.btn-search{
    padding:10px
}
.main_letter{
   font-size:30px;
}

.rate_star{
    color:gold;
}

.link_text,.link_box{
    text-decoration:none;
    color:black;
}


.link_text:visited,.link_box:visited,.link_name:visited{ color: black; }

.link_box:hover{background-color: #EEEEEE;}



/* ボディーの記述の終了 */